PORT=8080
NODE_ENV=development
MONGODB_URI=et/?appName=Whatsappweb
MONGODB_DB_NAME=

# Groq
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile

# WhatsApp
PUPPETEER_EXECUTABLE_PATH=
BOT_MENTION_PREFIX=@lucky
ALLOWED_GROUP_IDS=
ALLOWED_PHONE_NUMBERS=
BOT_ENABLED=true
ALLOWED_ORIGINS=http://localhost:5173,https://luckymobadmin.vercel.app

# Google Sheets
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="gNpyWw/DU0A1qMdtZV2tw/HuR9AONPE\n+FiWJrPKD4UDEIYcwc4e1Mk=\n-----END PRIVATE KEY-----\n"

# Firebase Admin / FCM
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""
